{% extends "base.html" %}
{% block class %}page-about dynamic-content ah-background{% endblock class%}
{% block content %}
{% load static %}
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <h2>The History and memory of Brasilândia/MS</h2>
        <div class="content">
            <p> This book covers the initial steps of the journey that the city of Brasilândia / MS undertook when it
                was not even aware of itself. The news printed in the local newspapers, the notes of the first
                travelers, historical documents, letters and poetry scribbled on school notebooks,
                photographs and
                the flashes impregnated in the memory of the old residents who built it with sweat on their faces and
                calluses in
                hands
                every inch of this floor. These are the characters that are scattered across the pages of this work.
                Since
                the first occupations and the clashes faced by the oldest explorers, even the pioneers of the
                development of the so-called civilizing process responsible for the emergence of the city, behold,
                on here
                they gather, at the limits of the City of Hope, without distinction.
            </p>

            <p>
                And that was how the author managed to collect over twenty years of research, with obstinate patience,
                be
                by means of a declaration, whether by panning old newspapers and scattered notes kept in the chests of
                the
                memory, the content of the memory discussed here ... And he suggested to himself the possibility of
                building a
                for this place.
            </p>
            <p>
                In this endeavor, dedicated and altruistic search, everything served as the basis for the construction
                of this work,
                always on
                perspective of valuing heroic deeds that, most of the time without a face and without a voice,
                They fought
                and won, broadening the horizon of Brasiland heraldry. It also does justice to those who have lost
                in those who fell, without, however, having finished giving their testimony and toil.
            </p>

            <p>
                Two interests emerge when describing the trail of the pioneers of this city: the first, the concern
                and the second, a social concern, both of which look at the steps
                no people
                path of development and progress. It seeks, above all, to value the achievements of men and
                women
                who, with vigor and audacity, wrote the lines that sedimented the culture and history of those who lived
                and
                still live on this land. With this concern, the registration, name by name, of many of the
                characters that were part, in some way, of the structures and institutions of this city I saw along
                From
                years, where few were revered in life. In spite of the fact that both of them also deserve to have
                been
                remembered.
            </p>

            <p>
                In other words, this work wants to give opportunity to those who, subject to their own history,
                literally
                now, they have the opportunity to take it back from the memory that, little by little, all
                days,
                they move away from us a little, as if the past and its youth were saying goodbye to their
                people.
                It gives pride to the citizens portrayed here and gives them awareness and courage for the
                feeling of belonging to the soil that welcomed them so well.
            </p>

            <p>
                It is imperative to say that this book was only possible thanks to the invaluable guaranteed
                bibliographic support
                hair
                local newspapers: Jornal de Brasilândia (by the late Mr. Jamil Fernandes), Jornal da Cidade (by Mr.
                Osmar
                Mello), Jornal a Dia (by Mr. Ray Santos), Independente Notícias (by Mr. Marcos Brasil), among others
                most recent publications, as well as the regional press, with circulation in the municipality of
                Brasilândia, which
                to
                author (who exquisitely kept these locust for years) to be able to found according to information here
                collected.
            </p>

            <p>
                And finally, the remembrance of special gratitude to those citizens who agreed to inform
                or
                provided separate information about ancient city facts, names of people and events
                random and picturesque, as well as the direction of the civil entities and public institutions that
                collaborated
                supplying this work with data, photos and documents about its origins, achievements and achievements.
                Fig. 4-
                Parade of students of the Municipal School of 1st Degree Arthur Höffig during the 20th anniversary of
                emancipation
                administrative political of , in the administration of Mayor Neuza Paulino Maia (Photo: José Cândido da
                Silva, 1985).
            </p>

            <p>
                In summary, from the words of the citizens and the memory that remains, everything for us was compared
                with
                the
                history records, seeking to give conciseness, scientificity and objectivity to what was presented,
                with
                abundant bibliography that can be consulted, portraying the history and memory of the last 50 years of
                existence of this city. Fig. 5- Tenth Cavalcade held on April 26, 2015 in honor of the
                founding patriarch of Brasilândia: Arthur Höffig (Photo: PMB, 2015).
            </p>

            <p>
                It is hoped, therefore, that this book and the other volumes that make up this collection, may awaken in
                the
                future
                generations the love that their ancestors devoted to this land, and impregnate the hearts and minds of
                the most
                young
                for the feeling of greatness that awaits them and the responsibility that they must wield in the
                continuity of
                history, building daily life, expanding the destiny of this place that will remain in the hands
                those
                who have always expressed love and respect for this City of Hope.
            </p>
        </div>
        <div class="card" style="float: right;">
            <div class="card-body">
                Autor: Carlos Alberto dos Santos Dutra - Professor Mestre em História pela UFMS
            </div>
        </div>
        <br><br><br>
        <hr>
        <div class="row">
            <h2>Downloads</h2>
            <ul class="information-block download-pdf" style="width: 500px;">
                <li>
                    <a href="https://www.institutocisalpina.org/Historia-e-Memoria-de-Brasilandia-V1-2Edicao2020.pdf">
                        <i class="fa fa-file-pdf-o fa-3" aria-hidden="true"></i>
                        <div class="meta">
                            <strong>The History and memory of Brasilândia/MS</strong>
                            <span>Download</span>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock content %}
