{% load i18n %}
<form name="sentMessage" id="contactForm" method="post" novalidate  enctype="multipart/form-data" {% if is_apply_job %} action="{{url_contact}}"{% else %}data-url='{{url_contact}}'{% endif %} >
    {% csrf_token %}
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>{% trans "Nome" %}</label>
            <input type="text" class="form-control" placeholder="{% trans "Nome" %}" id="name" name="name" required data-validation-required-message="{% trans "Campo Nome é obrigatório." %}">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>{% trans "Email" %}</label>
            <input type="email" class="form-control" placeholder="{% trans "Email" %}" id="email" name="email"required data-validation-required-message="{% trans "Campo Email é obrigatório." %}">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>{% trans "Telefone" %}</label>
            <input type="tel" class="form-control" placeholder="{% trans "Telefone" %}" id="phone" name="phone" required data-validation-required-message="{% trans "Campo Telefone é obrigatório." %}">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>{% trans "Cidade" %}</label>
            <input type="text" class="form-control" placeholder="{% trans "Cidade" %}" name="city" id="city" required data-validation-required-message="{% trans "Campo Cidade é obrigatório." %}">
            <p class="help-block text-danger"></p>
        </div>
    </div>

    {% if is_apply_job %}
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>{% trans "Curriculum" %}</label>
                <input rows="5" type="file" class="form-control" placeholder="{% trans "Curriculum" %}" name="attach" id="attach" required data-validation-required-message="{% trans "Campo Curriculum é obrigatório." %}"></input>
                <label for="attach">{% trans "Curriculum" %}</label>
                <p class="help-block text-danger"></p>
            </div>
        </div>
    {% endif %}

    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>{% trans "Mensagem" %}</label>
            <textarea rows="5" class="form-control" placeholder="{% trans "Mensagem" %}" id="message" name="message" required data-validation-required-message="{% trans "Campo Mensagem é obrigatório." %}"></textarea>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <input type="hidden" value="" name="job_id" id="job_id"></input>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-success btn-lg">{% trans "Enviar" %}</button>
        </div>
    </div>
</form>