  {% extends "base.html" %}
  {% block content %}
    <!-- Portfolio Grid Section -->
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>A AH Agropecuária</h3>
                    <p>{{about.ac_about|safe}}</p>
                    <br/>
                </div>
            </div>
        </div>
    </section>
   <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Nossa Visão</h3>
                    <p>{{about.ac_vision|safe}}</p>
                    <br/>
                </div>
            </div>
        </div>
    </section>

   <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Nossos Valores</h3>
                    <p>{{about.ac_values|safe}}</p>
                    <br/>
                </div>
            </div>
        </div>
    </section>
  {% endblock content %}  
    