  {% extends "base.html" %}
  {% block class %}page-about dynamic-content ah-background{% endblock class%}
  {% block content %}
    {% load static %}
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h2>Institucional</h2>
        <div class="content">
          {{about.ac_content|safe}}

          <div class="localizacoes">
            <a id="localizacoes" name="localizacoes"></a>
            <h3>Localizações</h3>
            {% include "_map.html" %}
          </div>
        </div>

        {% if about.gallery.all %}
          {% if about.gallery_title %}
            <h3>{{about.gallery_title}}</h3>
          {% else %}
            <h3>Galeria de Imagens</h3>
          {% endif %}
          {% for imagem in about.gallery.all %}
            <div class="col-xs-6 col-md-3">
              <a class="fancybox thumbnail" rel="group" href="{% get_media_prefix %}{{ imagem.imagem }}">
                <img src="{% get_media_prefix %}{{ imagem.imagem }}" alt="{{ imagem.descricao }}" />
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}?v=2.1.5" type="text/css" media="screen" />
{% endblock css %}
{% block javascript %}
  <!-- Add fancyBox -->
  <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  </script>
{% endblock javascript %}