  {% extends "base.html" %}
  {% load static %}
  {% block content %}
    <!-- Portfolio Grid Section -->
    <section id="download-price-file">
    <div class="container">
        <div class="row">
          {% for price in prices %}
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <div class="caption">
                  <h3>{{price.ap_date|date:"d/m/Y"}}</h3>
                  <p>{{price.ap_brief_desc}}</p>
                  <p><a href="{% get_media_prefix %}{{price.ap_file}}" class="btn btn-primary" role="button">Download</a></p>
                </div>
              </div>
          </div>
        {% endfor %}
        </div>    
    </div>
    </section>
  {% endblock content %}  
    