{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AH Agropecuária</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <link href="{% static 'vendor/proxima-nova/proxima-nova.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico'%}"/>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <a class="logo" href="/">
        <img id="logo" src="{% static 'img/logo-header.png'%}" title="Agropecuária AH - Página Inicial">
    </a>

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="collapse navbar-collapse navbar-collapse-left">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/quem-somos">Institucional</a>
                        <ul>
                            <li><a href="/quem-somos#agropecuaria-ah">Agropecuária AH</a></li>
                            <li><a href="/quem-somos#missao-e-valores">Missão e Visão</a></li>
                            <li><a href="/quem-somos#valores-e-competencia">Valores e Competência</a></li>
                            <li><a href="/quem-somos#localizacoes">Localizações</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/negocios">Negócios</a>
                        <ul>
                            <li><a href="/negocios/venda">Venda</a></li>
                            <li><a href="/negocios/compra">Compra</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/parcerias">Parcerias</a>
                        <ul>
                            <li><a href="/parcerias/bezerro">Fomento Bezerro AH+</a></li>
                            <li><a href="/parcerias/suinocultura">Parceria Suinocultura</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/midia">Mídia</a>
                        <ul>
                            <li><a href="/midia/noticias">Notícias AH</a></li>
                            <li><a href="/midia/pagina-um">Página Um</a></li>
                            <li><a href="/midia/cotacoes">Cotações Agrícolas</a></li>
                            <li><a href="/midia/glossario">Glossário</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/responsabilidade-social">Responsabilidade Social</a>
                        <ul>
                            <li><a href="/responsabilidade-social/fundacao">Fundação AH</a></li>
                            <li><a href="/responsabilidade-social/escola-rural">Escola Rural</a></li>
                        </ul>
                    </li>
                    <li class="single-nav"><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
                    <li class="single-nav"><a href="/fale-conosco" class="contact-menu-icon" title="Entre em contato conosco"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="{% if is_index == True %}is-home-page{% endif %}">
        <div class="container">
            <div class="row">
            
            </div>
        </div>
    </header>

    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-2">
                        <ul>
                            <li class="link-title"><a href="/quem-somos">Institucional</a></li>
                            <li><a href="/quem-somos#agropecuaria-ah">Agropecuária AH</a></li>
                            <li><a href="/quem-somos#missao-e-valores">Missão e Visão</a></li>
                            <li><a href="/quem-somos#valores-e-competencia">Valores e Competência</a></li>
                            <li><a href="/quem-somos#localizacoes">Localizações</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <ul >
                            <li class="link-title"><a href="/negocios">Negócios</a></li>
                            <li><a href="/negocios/venda">Venda</a></li>
                            <li><a href="/negocios/compra">Compra</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <ul >
                            <li class="link-title"><a href="/parcerias">Parcerias</a></li>
                            <li><a href="/parcerias/bezerro">Fomento Bezerro AH+</a></li>
                            <li><a href="/parcerias/suinocultura">Parceria Suinocultura</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <ul >
                            <li class="link-title"><a href="/responsabilidade-social">Responsabilidade Social</a></li>
                            <li><a href="/responsabilidade-social/fundacao">Fundação AH</a></li>
                            <li><a href="/responsabilidade-social/escola-rural">Escola Rural</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <ul >
                            <li class="link-title"><a href="/midia">Mídia</a></li>
                            <li><a href="/midia/noticias">Notícias</a></li>
                            <li><a href="/midia/pagina">Página Um</a></li>
                            <li><a href="/midia/cotacoes">Cotações Agrícolas</a></li>
                            <li><a href="/midia/glossario">Glossário</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                          <a title="Voltar à pagina inicial" href="/"><img id="logo_bottom" src="{% static 'img/logo-footer.png'%}"></a>
                    </div>
                    <div class="col-lg-4 social">
                        {% if general_info.config_social_facebook %}<a href=""><i class="social-icon fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>{% endif %}
                        {% if general_info.config_social_instagram %}<a href=""><i class="social-icon fa fa-instagram fa-3x" aria-hidden="true"></i></a>{% endif %}
                        {% if general_info.config_social_youtube %}<a href=""><i class="social-icon fa fa-youtube-play fa-3x" aria-hidden="true"></i></a>{% endif %}
                        {% if general_info.config_social_twitter %}<a href=""><i class="social-icon fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>{% endif %}
                    </div>
                    <div class="col-lg-4 links">
                        <a href="/fale-conosco">Fale Conosco</a> | <a href="/trabalhe-conosco">Trabalhe Conosco</a><br/>
                        <span class="copyright">Copyright &copy; AH Agropecuária {% now "Y" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    
    {% block javascript %}{% endblock javascript %}
</body>
</html>
