{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AH Agropecuária</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/freelancer.css'%}" rel="stylesheet">
    <link href="{% static 'css/proxima-nova.css'%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico'%}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <a class="logo" href="/">
        <img id="logo" src="{% static 'img/logo-header.png'%}" title="Voltar à pagina inicial">
    </a>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-collapse-left " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Institucional</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Negócios</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Mídia</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Parceria AH</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Responsabilidade Social</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Trabalhe Conosco</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" class="contact-menu-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </header>

    {% block content %}{% endblock content %}


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-2">
                        <ul>
                            <li class="link-title"><a href="">Institucional</a></li>
                            <li><a href="">Agropecuária AH</a></li>
                            <li><a href="">Missão e Visão</a></li>
                            <li><a href="">Valores e Competência</a></li>
                            <li><a href="">Localizações</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <ul >
                            <li class="link-title"><a href="">Negócios</a></li>
                            <li><a href="">Venda</a></li>
                            <li><a href="">Compra</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <ul >
                            <li class="link-title"><a href="">Parcerias</a></li>
                            <li><a href="">Fomento Bezerro AH+</a></li>
                            <li><a href="">Parceria Suinocultura</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <ul >
                            <li class="link-title"><a href="">Responsabilidade Social</a></li>
                            <li><a href="">Fundação AH</a></li>
                            <li><a href="">Escola Rural</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <ul >
                            <li class="link-title"><a href="">Mídia</a></li>
                            <li><a href="">Notícias</a></li>
                            <li><a href="">Página Um</a></li>
                            <li><a href="">Cotações Agrícolas</a></li>
                            <li><a href="">Glossário</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                          <a title="Voltar à pagina inicial" href="/"><img id="logo_bottom" src="{% static 'img/logo-footer.png'%}"></a>
                    </div>
                    <div class="col-lg-4 social">
                        <a href=""><i class="social-icon fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                        <a href=""><i class="social-icon fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                        <a href=""><i class="social-icon fa fa-youtube-play fa-3x" aria-hidden="true"></i></a>
                        <a href=""><i class="social-icon fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-lg-4 links">
                        <a href="">Fale Conosco</a> | <a href="">Trabalhe Conosco</a><br/>
                        <span class="copyright">Copyright &copy; AH Agropecuária 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/freelancer.min.js'%}"></script>

    <!-- Pages JS -->
    {% block javascript %}{% endblock javascript %}

    <script src="{% static 'js/freelancer.js'%}"></script>

</body>

</html>
