{% extends "base.html" %}
{% block class %}page-about dynamic-content ah-background{% endblock class%}
{% block content %}
{% load static %}
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <h2>A História e memória de Brasilândia/MS</h2>
        <div class="content">
            <p>Este livro aborda os passos iniciais da caminhada que a cidade de Brasilândia/MS empreendeu quando ela
                ainda
                nem tinha consciência de si. As notícias estampadas nos jornais locais, os apontamentos dos primeiros
                viajantes, os documentos históricos, as cartas e poesias rabiscadas em cadernos escolares, as
                fotografias e
                os flashes impregnados na memória dos antigos moradores que construíram com suor do rosto e calo nas
                mãos
                cada palmo deste chão. Estes são os personagens que se encontram espalhados pelas páginas desta obra.
                Desde
                as primeiras ocupações e os embates enfrentados pelos desbravadores mais antigos, até os pioneiros do
                desenvolvimento do assim chamado processo civilizatório responsável pelo surgimento da urbe, eis que
                aqui
                eles se reúnem, nos limites da Cidade Esperança, indistintamente.
            </p>

            <p>
                E foi assim que o autor conseguiu recolher ao longo de vinte anos de pesquisa, com obstinada paciência,
                seja
                por meio de entrevistas, seja garimpando velhos jornais e apontamentos dispersos guardados nos baús da
                lembrança, o conteúdo da memória aqui abordado... E aventou para si a possibilidade de construir uma
                história para este lugar.
            </p>
            <p>
                Nesta empreitada, de dedicada e altruísta busca, tudo serviu de base para a construção desta obra,
                sempre na
                perspectiva de valorizar os feitos heroicos daqueles que, na maioria das vezes sem rosto e sem voz,
                lutaram
                e venceram, alargando o horizonte da heráldica brasilandense. Também faz justiça àqueles que perderam
                batalhas e àqueles que soçobraram, sem, contudo, terem deixado de dar seu testemunho e labuta.
            </p>

            <p>
                Dois interesses emergem ao descrever a trilha dos pioneiros desta cidade: o primeiro, a preocupação
                histórica e o segundo, a preocupação social, sendo que ambos perscrutam os passos trilhados por sua
                gente no
                caminho do desenvolvimento e do progresso. Busca, acima de tudo, valorizar os feitos de homens e
                mulheres
                que, com vigor e audácia, escreveram as linhas que sedimentaram a cultura e a história dos que viveram e
                ainda vivem nesta terra. Com esta preocupação privilegiou-se o registro, nome a nome, de muitos dos
                personagens que fizeram parte, de alguma forma, das estruturas e instituições desta cidade vi ao longo
                dos
                anos, onde poucos foram reverenciados em vida. Em que pese outro tanto deles também merecessem terem
                sido
                lembrados.
            </p>

            <p>
                Em outras palavras, esta obra quer oportunizar àqueles que, sujeitos da própria história, literalmente,
                agora, têm a oportunidade de retomá-la nas mãos a partir da memória daqueles que, aos poucos, todos os
                dias,
                vão se apartando de nós um pouco, como se o passado e sua juventude estivessem se despedindo de sua
                gente.
                Reveste aos cidadãos e cidadãs aqui retratados, de orgulho, e confere-lhes consciência e coragem para o
                sentimento de pertença ao solo que tão bem os acolheu.
            </p>

            <p>
                É imperioso dizer que este livro só foi possível graças ao inestimável apoio bibliográfico garantido
                pelos
                jornais locais: Jornal de Brasilândia (do saudoso Sr. Jamil Fernandes), Jornal da Cidade (do Sr. Osmar
                Mello), Jornal Dia a Dia (do Sr. Ray Santos), Independente Notícias (do Sr. Marcos Brasil), entre outros
                mais recentes, bem como da imprensa regional, com circulação no município de Brasilândia, o que permitiu
                ao
                autor (que primorosamente guardou esses alfarrábios durante anos) poder fundamentar as informações aqui
                coligidas.
            </p>

            <p>
                E por fim, a lembrança de gratidão especial àqueles cidadãos brasilandenses que concederam entrevistas
                ou
                forneceram informações avulsas sobre fatos antigos desta cidade, nomes de pessoas e acontecimentos
                aleatórios e pitorescos, bem como à direção das entidades civis e instituições públicas que colaboraram
                abastecendo esta obra com dados, fotos e documentos sobre suas origens, feitos e realizações. Fig. 4-
                Desfile dos alunos da Escola Municipal de 1º Grau Arthur Höffig durante o 20º aniversário de emancipação
                político administrativa de Brasilândia, na gestão da prefeita Neuza Paulino Maia (Foto: José Cândido da
                Silva, 1985).
            </p>

            <p>
                Em síntese, das palavras dos cidadãos e da memória que ainda lhes resta, tudo por nós foi cotejado com
                os
                registros da história, buscando conferir concisão, cientificidade e objetividade ao que foi apresentado,
                com
                farta bibliografia que poderá ser consultada, retratando a história e memória dos últimos 50 anos de
                existência desta cidade. Fig. 5- Décima Cavalgada realizada no dia 26 de abril de 2015 em homenagem ao
                patriarca fundador de Brasilândia: Arthur Höffig (Foto: PMB, 2015).
            </p>

            <p>
                Espera-se, assim, que este livro e os demais volumes que integram essa coleção, possam despertar nas
                futuras
                gerações o amor que seus antepassados devotaram a esta terra, e impregnar corações e mentes dos mais
                jovens
                para o sentimento de grandeza que os espera e a responsabilidade que deverão empunhar na continuidade da
                história, construindo o cotidiano, alargando o destino deste lugar que há de permanecer nas mãos
                daqueles
                que sempre manifestaram amor e respeito a esta Cidade Esperança.
            </p>
        </div>
        <div class="card" style="float: right;">
            <div class="card-body">
                Autor: Carlos Alberto dos Santos Dutra - Professor Mestre em História pela UFMS
            </div>
        </div>
        <br><br><br>
        <hr>
        <div class="row">
            <h2>Downloads</h2>
            <ul class="information-block download-pdf" style="width: 500px;">
                <li>
                    <a href="https://www.institutocisalpina.org/Historia-e-Memoria-de-Brasilandia-V1-2Edicao2020.pdf">
                        <i class="fa fa-file-pdf-o fa-3" aria-hidden="true"></i>
                        <div class="meta">
                            <strong>A História e memória de Brasilândia/MS</strong>
                            <span>Baixar</span>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock content %}
