{% extends "base.html" %}
{% load static %}
{% block class %}dynamic-content ah-background page-responsabilidade-social{% endblock class%}
{% load i18n %}
{% block content %}
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h2>{{environmental.environ_title}}</h2>

        {{environmental.environ_description|safe}}

        {% if environmental.environ_video %}
          <h3>{% trans "Confira nosso Video" %}</h3>
          <iframe width="420" height="315"src="https://www.youtube.com/embed/{{environmental.environ_video}}"></iframe>
        {% endif %}

        {% if environmental.environ_galery.all|length %}
          <div class="row">
            {% if environmental.environ_galery_title %}
              <h3>{{environmental.environ_galery_title}}</h3>
            {% else %}
              <h3>{% trans "Galeria de Imagens" %}</h3>
            {% endif %}
            {% for imagem in environmental.environ_galery.all %}
              <div class="col-xs-6 col-md-3">
                    <a class="fancybox thumbnail" rel="group" href="{% get_media_prefix %}{{ imagem.imagem }}">
                        <img src="{% get_media_prefix %}{{ imagem.imagem }}" alt="" />
                    </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% if environmental.attach_galery.all %}
          <div class="row">
            <h3>{% trans "Anexos" %}</h3>
            {% for attach in environmental.attach_galery.all %}
              <div class="col-sm-6 col-md-3">
                <div class="thumbnail download_thumb">
                  <i class="fa fa-file-o download-icon" aria-hidden="true"></i><div class="caption">
                    <p>{{attach.description|truncatechars:16}}</p>
                    <p><a href="/media/{{attach.attach}}" class="btn btn-primary" role="button">Download</a></p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
{% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}?v=2.1.5" type="text/css" media="screen" />
{% endblock css %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  </script>
{% endblock javascript %}