{% extends "base.html" %}
{% block class %}dynamic-content ah-background page-responsabilidade-social{% endblock class%}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
            {% for event in all_events %}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{% get_media_prefix %}{{event.event_thumbnail}}">
                </div>
                <div class="caption">
                  <h3>{{event.event_title}}</h3>
                  <small>{{event.event_local}} - {{event.event_date|date:"d/m/Y"}}</small>
                  <p>{{event.event_description|safe|truncatechars:200 }}</p>
                  <p><a href="{% url 'event_view' event.event_slug %}" class="btn btn-primary" role="button">{% trans "Leia mais" %}</a></p>
                </div>
            </div>
            {% empty %}
            <p>{% trans "Nenhum evento em andamento. Volte em breve para conferir as novidades." %}</p>
            {% endfor %}
      </div>
    </div>
{% endblock content %}
