  {% extends "base.html" %}
  {% block content %}
  {% load static %}

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="ah-background">
        <div class="container">
            <div class="row">
                <div class="col-md-6 about-ah">
                    <h3>AH Apropecuária</h3>
                    <p>A AH é uma das importantes agropecuárias do Brasil, com áreas produtivas que somam mais de 40.000 hectares e sistemas de produção implantados em três estados brasileiros - Mato Grosso do Sul, Mato Grosso e Minas Gerais.</p>
                    <br/>
                    <a href="/quem-somos" class="btn btn-success btn-lg">Conheca a nossa história</a>
                </div>
                <div class="col-md-6">
                    <ul class="about-list">
                        <li class="about-item" >
                            <span class="item-title">Bioseguranca e Qualidade</span>
                            <span>Breve descrição sobre Bioseguranca e Qualidade</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Excelência</span>
                            <span class="itel-desc">Breve descrição sobre Excelência</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Máxima Eficiência</span>
                            <span class="itel-desc">Breve descrição sobre Máxima Eficiência</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Vanguarda</span>
                            <span class="itel-desc">Breve descrição sobre Vanguarda</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Especialidade certificada</span>
                            <span class="itel-desc">Breve descrição sobre Especialidade certificada</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="negocios">
        <div class="col-left">
            <div class="col-content">
                <h3><span>Negócios <i class="fa fa-angle-right" aria-hidden="true"></i></span> Bovinos</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças.</p>
                <a href="/negocios" class="cta negocios-cta">
                    <img src="{% static 'img/negocios/cta-bovinos.png'%}" title="Saiba mais">
                </a>
                <a href="/negocios" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>

        <div class="col-center">
            <div class="col-content">
                <h3><span>Negócios <i class="fa fa-angle-right" aria-hidden="true"></i></span> Suínos</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças.</p>
                <a href="/negocios" class="cta negocios-cta">
                    <img src="{% static 'img/negocios/cta-suinos.png'%}" title="Saiba mais">
                </a>
                <a href="/negocios" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>

        <div class="col-right">
            <div class="col-content">
                <h3><span>Negócios <i class="fa fa-angle-right" aria-hidden="true"></i></span> Café</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças.</p>
                <a href="/negocios" class="cta negocios-cta">
                    <img src="{% static 'img/negocios/cta-cafe.png'%}" title="Saiba mais">
                </a>
                <a href="/negocios" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>
    </section>

    <!-- Locations Section -->
    <section id="localizacoes">
        <div class="container">
            <div class="blurb">
                <h3>Localizações AH</h3>
                <p>A Agropecuária AH possui unidades nas seguintes localidades:</p>
            </div>
            <div class="mapa">
                <img src="{% static 'img/mapa-localizacoes.png'%}" title="Localizações da Agropecuária AH">
            </div>
        </div>
    </section>

    <!-- Partnership Section -->
    <section id="parcerias">
        <div class="col-left">
            <div class="col-content">
                <h3><span>Parcerias <i class="fa fa-angle-right" aria-hidden="true"></i></span> Fomento Bezerro AH+</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças Angus e Hereford. Garantimos em contrato, e por um valor diferenciado atrelado indicador CEPEA, a compra de toda a progênie do cruzamento provenientes do programa.</p>
                <h4>Benefícios</h4>
                <ul>
                    <li>Solicitação de adiantamento de sêmen</li>
                    <li>Retenção de até 50% de fêmeas para reposição</li>
                </ul>
                <a href="/parcerias/bezerro" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>

        <div class="col-right">
            <div class="col-content">
                <h3><span>Parcerias <i class="fa fa-angle-right" aria-hidden="true"></i></span> Parceria Suinocultura</h3>
                <p>A Parceria Suinocultura consiste no sistema de criação de animais em que a Agropecuária AH transfere a fase de terminação da engorda de suínos ao produtor rural integrado, além das melhores tecnologias existentes. O produtor é responsável pelas instalações, equipamentos e manejo.</p>
                <h4>Benefícios</h4>
                <ul>
                    <li>Seleção de animais de melhor genética</li>
                    <li>Remuneração por produtividade de lote</li>
                </ul>
                <a href="/parcerias/suinocultura" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>
    </section>

    <!-- Misc Section -->
    <section id="miscellaneous">
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-5 noticias">
                <h3>Notícias <strong>AH</strong></h3>
                {% for news in  news %}
                    <div class="row">
                        <a href="{% url 'news_view' news.news_slug%}">{{news.news_title}}</a><br/>
                        <small>{{news.news_date|date:"F Y"}}</small>
                        <p>{{news.news_description|safe|truncatechars:200}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <section class="responsabilidade-social">
                    <h3>Responsabilidade <strong>Social</strong></h3>
                    <ul class="information-block">
                        {% for event in events_link  %}
                            <li>
                                <a href="{% url 'event_view' event.event_slug %}">
                                    <img src="{% get_media_prefix %}{{event.event_thumbnail}}" class="icon">
                                    <div class="meta">
                                        <strong>{{event.event_title}}</strong>
                                        <span>Saiba mais</span>
                                    </div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="trabalhe-conosco">
                    <h3>Trabalhe Conosco</h3>
                    <p>Nossa empresa tem o desejo de transformar o País. Para isso, precisamos de uma equipe forte e coesa, formada por gente de qualidade.</p>
                    <a href="{% url 'work_with_us'%}" class="btn btn-success btn-lg">Envie seu currículo</a>
                </section>
            </div>
        </div>
    </section>

{% endblock content %}
