  {% extends "base.html" %}
  {% block content %}
  {% load static %}

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 about-ah">
                    <h3>AH Apropecuária</h3>
                    <p>A AH é uma das importantes agropecuárias do Brasil, com áreas produtivas que somam mais de 40.000 hectares e sistemas de produção implantados em três estados brasileiros - Mato Grosso do Sul, Mato Grosso e Minas Gerais.</p>
                    <br/>
                    <button class="btn btn-success btn-lg">Conheca a nossa história</button>
                </div>
                <div class="col-md-6">
                    <ul class="about-list">
                        <li class="about-item" >
                            <span class="item-title">Bioseguranca e Qualidade</span>
                            <span>Breve descrição sobre Bioseguranca e Qualidade</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Excelência</span>
                            <span class="itel-desc">Breve descrição sobre Excelência</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Máxima Eficiência</span>
                            <span class="itel-desc">Breve descrição sobre Máxima Eficiência</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Vanguarda</span>
                            <span class="itel-desc">Breve descrição sobre Vanguarda</span>
                        </li>
                        <li class="about-item" >
                            <span class="item-title">Especialidade certificada</span>
                            <span class="itel-desc">Breve descrição sobre Especialidade certificada</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="negocios">
        <div class="col-left">
            <div class="col-content">
                <h3><span>Negócios <i class="fa fa-angle-right" aria-hidden="true"></i></span> Bovinos</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças.</p>
                <a href="#" class="cta negocios-cta">
                    <img src="{% static 'img/negocios/cta-bovinos.png'%}" title="">
                </a>
                <a href="#" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>

        <div class="col-center">
            <div class="col-content">
                <h3><span>Negócios <i class="fa fa-angle-right" aria-hidden="true"></i></span> Suínos</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças.</p>
                <a href="#" class="cta negocios-cta">
                    <img src="{% static 'img/negocios/cta-suinos.png'%}" title="">
                </a>
                <a href="#" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>

        <div class="col-right">
            <div class="col-content">
                <h3><span>Negócios <i class="fa fa-angle-right" aria-hidden="true"></i></span> Café</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças.</p>
                <a href="#" class="cta negocios-cta">
                    <img src="{% static 'img/negocios/cta-cafe.png'%}" title="">
                </a>
                <a href="#" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>
    </section>

    <!-- Locations Section -->
    <section id="localizacoes">
        <div class="container">
            <div class="blurb">
                <h3>Localizações AH</h3>
                <p>A Agropecuária AH possui unidades nas seguintes localidades:</p>
            </div>
            <div class="mapa">
                <img src="{% static 'img/mapa-localizacoes.png'%}" title="Localizações da Agropecuária AH">
            </div>
        </div>
    </section>

    <!-- Partnership Section -->
    <section id="parcerias">
        <div class="col-left">
            <div class="col-content">
                <h3><span>Parcerias <i class="fa fa-angle-right" aria-hidden="true"></i></span> Fomento Bezerro AH+</h3>
                <p>O Programa Fomento AH+ consiste em fomentar a inseminação artificial, e o cruzamento com as raças Angus e Hereford. Garantimos em contrato, e por um valor diferenciado atrelado indicador CEPEA, a compra de toda a progênie do cruzamento provenientes do programa.</p>
                <h4>Benefícios</h4>
                <ul>
                    <li>Solicitação de adiantamento de sêmen</li>
                    <li>Retenção de até 50% de fêmeas para reposição</li>
                </ul>
                <a href="#" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>

        <div class="col-right">
            <div class="col-content">
                <h3><span>Parcerias <i class="fa fa-angle-right" aria-hidden="true"></i></span> Parceria Suinocultura</h3>
                <p>A Parceria Suinocultura consiste no sistema de criação de animais em que a Agropecuária AH transfere a fase de terminação da engorda de suínos ao produtor rural integrado, além das melhores tecnologias existentes. O produtor é responsável pelas instalações, equipamentos e manejo.</p>
                <h4>Benefícios</h4>
                <ul>
                    <li>Seleção de animais de melhor genética</li>
                    <li>Remuneração por produtividade de lote</li>
                </ul>
                <a href="#" class="btn btn-lg">Saiba Mais</a>
            </div>
        </div>
    </section>

    <!-- Misc Section -->
    <section id="miscellaneous">
        <div class="container">
            <div class="col-md-7 noticias">
                <h3>Notícias <strong>AH</strong></h3>
                <script type="text/javascript" src="http://www.noticiasagricolas.com.br/widget/noticias.js.php?subsecao=2,3,6,7,8,10,64,80,85,5,4,11,12,40,60,13,97,14,95,15,1,84,28,99,26,69,90,62,27,92,132,76&largura=300px&altura=250px&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&cortexto=333333&corlink=006666&qtd=15&output=js"></script>
            </div>
            <div class="col-md-5 noticias">

            </div>
        </div>
    </section>

{% endblock content %}
