{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="ah-background">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-offset-1 about-ah">
                    <h3>{% trans "AH Agropecuária" %}</h3>
                    <p>{% trans "A AH é uma das importantes agropecuárias do Brasil, com áreas produtivas que somam mais de 40.000 hectares e sistemas de produção implantados em três estados brasileiros - Mato Grosso do Sul, Mato Grosso e Minas Gerais." %}</p>
                    <br/>
                    <a href="{% url 'about_company' %}" class="btn btn-success btn-lg">{% trans "Conheca a nossa história" %}</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="negocios">
      {% for product in products %}
        {% if product.product_category == 'bovinos' %}
          {% with position="left" image='img/negocios/cta-bovinos.jpg' %}
            {% include "_prod.html"%}
          {%endwith%}
        {% endif %}
        {% if product.product_category == 'suinos' %}
          {% with position="center" image='img/negocios/cta-suinos.jpg' %}
            {% include "_prod.html"%}
          {%endwith%}
        {% endif %}
        {% if product.product_category == 'cafe' %}
          {% with position="right" image='img/negocios/cta-cafe.jpg' %}
            {% include "_prod.html"%}
          {%endwith%}
        {% endif %}
      {% endfor %}
    </section>

    <!-- Locations Section -->
    <section id="localizacoes" class="ah-background">
        <div class="container">
            <div class="blurb">
                <h3>{% trans "Localizações AH" %}</h3>
                <p>{% trans "A Agropecuária AH possui unidades nas seguintes localidades:" %}</p>
            </div>
            {% include "_map.html" %}
        </div>
    </section>

    <!-- Partnership Section -->
    <section id="parcerias">
        <div class="col-left">
            <div class="col-content">
                <h3><span>{% trans "Parcerias" %} <i class="fa fa-angle-right" aria-hidden="true"></i></span> {% trans "Fomento Bezerro AH+" %}</h3>
                <p>{% trans "O Programa Fomento AH+ consiste em fomentar a inseminação artificial (Convencional e/ou em Tempo Fixo – IATF), e o cruzamento com as raças Angus e Hereford. A Agropecuária AH garante em contrato, e por um valor diferenciado atrelado indicador CEPEA, a compra de toda a progênie do cruzamento provenientes do programa." %}</p>
                <h4>{% trans "Benefícios" %}</h4>
                <ul>
                  <li>{% trans "Solicitação de adiantamento de sêmen" %}</li>
                  <li>{% trans "Retenção de até 50% de fêmeas para reposição" %}</li>
                </ul>
                <a href="/parcerias/fomento-bezerro-ah" class="btn btn-lg">{% trans "Saiba mais" %}</a>
            </div>
        </div>

        <div class="col-right">
            <div class="col-content">
              <h3><span>{% trans "Parcerias" %} <i class="fa fa-angle-right" aria-hidden="true"></i></span> {% trans "Parceria Suinocultura" %}</h3>
                <p>{% trans "A parceria suinocultura consiste no sistema de criação de animais em que a Agropecuária AH transfere a fase de terminação da engorda de suínos ao produtor rural INTEGRADO, além das melhores tecnologias existentes, de animais com a melhor genética..." %}</p>
                <h4>{% trans "Benefícios" %}</h4>
                <ul>
                  <li>{% trans "Índices de eficência no topo dos melhores padrões mundiais" %}</li>
                  <li>{% trans "Forte foco especialização pelos parceiros" %}</li>
                </ul>
                <a href="/parcerias/parceria-suinocultura" class="btn btn-lg">{% trans "Saiba mais" %}</a>
            </div>
        </div>
    </section>

    <!-- Misc Section -->
    <section id="miscellaneous" class="ah-background">
        <div class="container">
            <div class="col-md-6 col-lg-offset-1 noticias">
                <h3>{% trans "<strong>AH</strong> Notícias" %}</h3>
                <ul>
                    {% for news in news %}
                    <li>
                        <a href="{% url 'news_view' news.news_slug%}" class="title">{{news.news_title}}</a><br/>
                        <small>{{news.news_date|date:"F Y"}}</small>
                        <p>{{news.news_description|safe|truncatewords:30}}</p>
                        <a href="{% url 'news_view' news.news_slug%}">{% trans "Leia mais" %} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% empty %}
                    <p>{% trans "Nenhuma notícia encontrada." %}</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <section class="responsabilidade-social">
                    <h3>{% trans "Responsabilidade <strong>Social</strong>" %}</h3>
                    <ul class="information-block">
                        {% for event in events_link %}
                            <li>
                                <a href="{% url 'event_view' event.event_slug %}">
                                    <img src="{% get_media_prefix %}{{event.event_thumbnail}}" class="icon">
                                    <div class="meta">
                                        <strong>{{event.event_title}}</strong>
                                        <strong class="location">{{event.event_local}}</strong>
                                        <span>{% trans "Saiba mais" %}</span>
                                    </div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% empty %}
                        <li>{% trans "Nenhum item encontrado." %}</li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="trabalhe-conosco">
                    <h3>{% trans "Trabalhe Conosco" %}</h3>
                    <p>{% trans "Nossa empresa tem o desejo de transformar o País. Para isso, precisamos de uma equipe forte e coesa, formada por gente de qualidade." %}</p>
                    <a href="{% url 'work_with_us'%}" class="btn btn-success btn-lg">{% trans "Envie seu currículo" %}</a>
                </section>

                <section class="newsletter">
                    <h3>{% trans "Newsletter" %}</h3>
                    <p>{% trans "Receba nossas novidades diretamente no seu e-mail." %}</p>
                    <form action="/newsletter/" id="newsletter-form" method="post">
                        <fieldset id="newsletter-fieldset">
                            <div id="form-status"></div>
                            <input type="text" name="nome" placeholder="{% trans "Digite o seu nome." %}" id="newsletter-nome" />
                            <input type="text" name="email" placeholder="{% trans "Digite o seu e-mail." %}" id="newsletter-email" />
                            <div class="actions"><input type="submit" value="{% trans "Enviar" %}" class="btn btn-success btn-lg" /></div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </section>

{% endblock content %}
