  {% extends "base.html" %}
  {% load static %}
  {% block content %}
    <section id="download-price-file">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h1>{{news.news_title}}</h1>
                  <small>{{news.news_date|date:"d/m/Y"}}</small>
            </div>
          </div>
          <div class="row">
            <p>{{news.news_description|safe}}</p>
          </div>
          {% if news.news_video %}
            <div class="row">
                <h3>Confira o Video do evento</h3>
                <iframe width="420" height="315"src="https://www.youtube.com/embed/Gy85aZaYL1A"></iframe>
            </div>
          {% endif %}
          {% if news.news_galery %}
          <div class="row">
            {% if news.news_galery_title %}
                <h3>{{news.news_galery_title}}</h3>
            {% else %}
                <h3>Galeria de Imagens</h3>
            {% endif %}
              {% for imagem in news.news_galery.all %}
                    <div class="col-xs-6 col-md-3">
                        <a class="fancybox thumbnail" rel="group" href="{% get_media_prefix %}{{ imagem.imagem }}">
                          <img src="{% get_media_prefix %}{{ imagem.imagem }}" alt="" />
                        </a>
                    </div>
              {% endfor %}
          </div>
          {% endif %}

      </div>
    </section>
  {% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}?v=2.1.5" type="text/css" media="screen" />
{% endblock css %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  </script>
{% endblock javascript %}