  {% extends "base.html" %}
  {% load static %}
  {% block class %}dynamic-content ah-background{% endblock class%}
  {% block content %}
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>{{news.news_title}}</h1>
        <small>{{news.news_date|date:"d/m/Y"}}</small>
        {{news.news_description|safe}}

        {% if news.news_video %}
          <h3>Confira o Video do evento</h3>
          <iframe width="420" height="315"src="https://www.youtube.com/embed/{{news.news_video}}"></iframe>
        {% endif %}
        {% if news.news_galery.all|length %}
          {% if news.news_galery_title %}
              <h3>{{news.news_galery_title}}</h3>
          {% else %}
              <h3>Galeria de Imagens</h3>
          {% endif %}
            {% for imagem in news.news_galery.all %}
                  <div class="col-xs-6 col-md-3">
                      <a class="fancybox thumbnail" rel="group" href="{% get_media_prefix %}{{ imagem.imagem }}">
                        <img src="{% get_media_prefix %}{{ imagem.imagem }}" alt="" />
                      </a>
                  </div>
            {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}?v=2.1.5" type="text/css" media="screen" />
{% endblock css %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  </script>
{% endblock javascript %}