  {% extends "base.html" %}
  {% load static %}
  {% load humanize %}
  {% block class %}dynamic-content ah-background page-noticias{% endblock class%}
  {% block content %}
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h2><strong>AH</strong> Notícias</h2>
        <p></p>
        {% for news in all_news %}
        <div class="caption">
          <a class="news-title" href="{% url 'news_view' news.news_slug%}"><h3>{{news.news_title}}</h3></a>
          <small>{{news.news_date|date:"d/m/Y"}}</small>
          <p>{{news.news_description|safe|truncatewords:30}}</p>
          <a href="{% url 'news_view' news.news_slug%}">Leia mais <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        {% empty %}
          <p>Nenhuma Notícia em andamento. Volte em breve para conferir as novidades.</p>
        {% endfor %}
      </div>
      
      <div class="col-md-10 col-md-offset-1">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if all_news.has_previous %}
              <li>
                <a href="?page={{ all_news.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              {% for page in all_news.paginator.page_range %}
                    <li {% ifequal page|apnumber request.GET.page|apnumber %}class="active"{% endifequal %}><a href="?page={{page}}" >{{page}}</a></li>
              {% endfor %}
              {% if all_news.has_next %}
                    <li>
                      <a href="?page={{ all_news.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
              {% endif %}
            </ul>
          </nav>
      </div>
    </div>
  {% endblock content %}
