  {% extends "base.html" %}
  {% block content %}
    <!-- Portfolio Grid Section -->
    <section id="download-price-file">
      <div class="container">
          <div class="row">
          {% if products %}
            <section id="negocios">
            {% for product in products %}
                 {% if 'bovinos' in product.product_name.lower %}
                    {% with position="left" image='img/negocios/cta-bovinos.png' %}
                          {% include "_prod.html"%}
                   {%endwith%}
                  {% endif %}
                  {% if 'suíno' in product.product_name.lower %}
                    {% with position="center" image='img/negocios/cta-suinos.png' %}
                          {% include "_prod.html"%}
                   {%endwith%}
                  {% endif %}
                  {% if 'café' in product.product_name.lower %}
                    {% with position="right" image='img/negocios/cta-cafe.png' %}
                          {% include "_prod.html"%}
                   {%endwith%}
                  {% endif %}
            {% endfor %}
          </section>
          {% else %}
            <p>Nenhum Produto no momento. Volte em breve para conferir as novidades.</p>
          {% endif %}
       </div>       
      </div>
    </section>
  {% endblock content %}  
    