  {% extends "base.html" %}
{% load static %}

  {% block content %}
    <!-- Contact Section -->
    <section id="contact" class="ah-background">
        <div class="container">
            <div class="col-lg-12">
                <h2>Compras</h2>
                <p>{{sale.sale_description|safe}}</p>
            </div>
        
            <div class="col-lg-7">
                <p class="small">Preencha o formulário abaixo para entrar em contato com um de nossos consultores. teremos prazer de responde-lo o mais rápido possível.</p>
                {% include '_contact_form.html' %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/jqBootstrapValidation.js'%}"></script>
    <script src="{% static 'js/contact_me.js'%}"></script>
{% endblock javascript %}m