{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
    <!-- Contact Section -->
    <section id="contact" class="ah-background">
        <div class="container">
            <div class="col-lg-7">
                <h2>{% trans "Fale Conosco" %}</h2>
                <p class="small">{% trans "Preencha o formulário abaixo para entrar em contato com a Agropecuária AH." %}</p>
                {% include '_contact_form.html' %}
            </div>
            <div class="col-lg-4 col-lg-offset-1 address-list">
                <h2>{% trans "Telefones de Contato" %}</h2>
                <p class="small"></p>
                <ul class="information-block">
                    <li>
                        <a href="tel:+551839173262">
                            <div class="meta">
                                {% blocktrans %}
                                <strong>Escritório</strong>
                                <span>Av. Cel. José Soares Marcondes, 1078 - 11º andar</span>
                                <span>Presidente Prudente/SP - CEP 19010-080</span>
                                <span class="telephone">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    (18) 3917-3262
                                </span>
                                {% endblocktrans %}
                            </div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+556735461467">
                            <div class="meta">
                                {% blocktrans %}
                                <strong>Fazenda Córrego Azul</strong>
                                <span>Rodovia MS 395 Brasilândia/Bataguassu</span>
                                <span>Zona Rural - Caixa Postal Nº23</span>
                                <span>Brasilândia/MS - CEP 79670-000</span>
                                <span class="telephone">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    (67) 3546-1467
                                </span>
                                {% endblocktrans %}
                            </div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+553140637729">
                            <div class="meta">
                                {% blocktrans %}
                                <strong>Fazenda Ouro Verde</strong>
                                <span>Zona Rural - Caixa Postal Nº45</span>
                                <span>Unaí/MG - CEP 38610-000</span>
                                <span class="telephone">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    (31) 4063-7729
                                </span>
                                {% endblocktrans %}
                            </div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/jqBootstrapValidation.js'%}"></script>
    <script src="{% static 'js/contact_me.js'%}"></script>
{% endblock javascript %}