{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
    <!-- Contact Section -->
    <section id="work-for-us" class="ah-background">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>{% trans "Trabalhe Conosco" %}</h2>
                <p>{% trans "Deseja trabalhar em uma empresa séria, em franco crescimento e com ótimas oportunidades de carreira? <br>Selecione uma vaga abaixo e envie seu currículo através do formulário para que possamos contactá-lo." %}</p>
            </div>

            <div class="col-lg-10 col-lg-offset-1 vagas">
                <h3>{% trans "Vagas disponíveis" %}</h3>
                {% if is_apply_job and messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for job in jobs %}
                    <div class="job-listing">
                        <h4>{{job}}</h4>
                        <span class="date-posted">{{job.job_date}}</span>
                        <p>{{job.job_description|safe}}</p>
                        <a href="#applyModal" data-toggle="modal" data-role="{{job}}" data-desc="{{job.job_description|safe}}" data-jobid="{{job.id}}" class="btn btn-success btn-apply-job">
                            {% trans "Enviar currículo" %}
                        </a>
                    </div>
                {% empty %}
                    <p>{% trans "Nenhuma vaga disponível no momento." %} <a href="{% url 'talk_with_us' %}">{% trans "Entre em contato conosco para mais esclarecimendos" %}</a>.</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="portfolio-modal modal fade" id="applyModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:9999;">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id="apply-modal-title"></h2>
                            <hr class="star-primary">
                            <p id="apply-modal-desc"></p>
                            <p><strong>{% trans "Para se candidatar, por favor preencha o formulário abaixo e analisaremos seu curriculum." %}</strong></p>
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    {% include '_contact_form.html' %}
                                </div>
                            </div>
                            <a href="#" data-dismiss="modal"><i class="fa fa-times"></i> {% trans "Fechar" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/jqBootstrapValidation.js'%}"></script>
    <script type="text/javascript">
        $('.btn-apply-job').on('click', function(){
        var title = $(this).data('role');
        var description = $(this).data('desc');
        var job_id = $(this).data('jobid');
        $('#apply-modal-title').html(title);
        $('#apply-modal-desc').html(description);
        $('input#job_id').val(job_id);
    })
    </script>
{% endblock javascript %}