<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
        <head>
                <title>{% block title %}{% endblock %}{{ configuracoes.titulo_do_site }}</title>

                <!-- Meta Data -->
                <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
                <meta name="author" content="cinaglia.com" />
                <meta http-equiv="Content-Language" content="pt-br"/>
                
                <!-- Description / Keywords -->
                <meta name="description" content="{{ configuracoes.meta_description }}" />
                <meta name="keywords" content="{{ configuracoes.meta_keywords }}" />
                
                <meta name="robots" content="ALL" />
                <meta http-equiv="imagetoolbar" content="no" />
                
                <!-- Google Webmasters Tool -->
                {% block google_verification_code %}<meta name="google-site-verification" content="kHPVAHrS8jBSJs94-HujmhyUqI-nhUsN_3HCfcivcxY" />{% endblock %}
                
                <!-- Shortcut Icon -->
                <link rel="shortcut icon" href="/media/images/icon.png" type="image/x-icon"/>
                <link rel="icon" href="/media/images/icon.png" type="image/x-icon"/>

                <!-- CSS References -->
                <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />{% block css %}{% endblock %}
                <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/media/css/main-ie6.css" /><![endif]-->
                <!--[if (gt IE 6)&!(IE 8)]><link rel="stylesheet" type="text/css" href="/media/css/main-ie7.css" /><![endif]-->
		<!--[if IE 8]><link rel="stylesheet" type="text/css" href="/media/css/main-ie8.css" /><![endif]-->

                <!-- Javascript -->
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
                <script type="text/javascript" src="/media/js/resetdefaultvalue.js"></script>
                <script type="text/javascript" src="/media/js/general.js"></script>{% block javascript %}{% endblock %}
                {% if "swf" in banner.url %}
                <script type="text/javascript" src="http://jquery.thewikies.com/swfobject/jquery.swfobject.1-1-1.min.js"></script>
                <script type="text/javascript" charset="utf-8">
                        $(document).ready(function() {
                                $('#swf-banner').flash({
                                        swf:'{{ banner.url }}', 
                                        width:965, 
                                        height:164
                                });
                        });
                </script>
                {% endif %}
                
        </head>

        <body>
                <!-- site-container -->
                <div id="site-container">
                        <!-- site-wrap -->
                        <div class="site-wrap">
                                <!-- site-header -->
                                <div id="site-header">
                                        <!-- Logo do site -->
                                        <h1 id="site-logo">
                                                <a href="/" title="{{ configuracoes.nome_da_empresa }}">
                                                        <img src="{{ configuracoes.logomarca }}" alt="{{ configuracoes.nome_da_empresa }}" />
                                                </a>
                                        </h1><!-- /Logo do site -->
                                        
                                        <!-- Menu do site -->
                                        <ul id="site-menu" class="site-menu">
                                                <li{% block home %}{% endblock %}><a class="menu-pagina-inicial" href="/" title="Ir para a página inicial">Página Inicial</a></li>
                                                <li{% block quem_somos %}{% endblock %}><a class="menu-quem-somos" href="/quem-somos/" title="Quem Somos">Quem Somos</a></li>
                                                <li{% block noticias %}{% endblock %}><a class="menu-noticias" href="/noticias/" title="Notícias">Notícias</a></li>
                                                {% if configuracoes.exibe_produtos == "True" %}<li{% block produtos %}{% endblock %}><a class="menu-produtos" href="/produtos/" title="Produtos">Produtos</a></li>{% endif %}
                                                {% if configuracoes.exibe_servicos == "True" %}<li{% block servicos %}{% endblock %}><a class="menu-servicos" href="/servicos/" title="Serviços">Serviços</a></li>{% endif %}
                                                {% if configuracoes.exibe_clientes == "True" %}<li{% block clientes %}{% endblock %}><a class="menu-clientes" href="/clientes/" title="Clientes">Clientes</a></li>{% endif %}
                                                {% if configuracoes.exibe_suporte == "True" %}<li{% block suporte %}{% endblock %}><a class="menu-suporte" href="/suporte/" title="Suporte">Suporte</a></li>{% endif %}
                                                <li{% block contato %}{% endblock %}><a class="menu-contato" href="/contato/" title="Contato">Contato</a></li>
                                        </ul><!-- /Menu do site -->
                                        
                                        <!-- Formulário de busca -->
                                        <form action="/search/" method="get">
                                                <fieldset id="busca-fieldset">
                                                        <legend id="busca-descricao">Entre com os dados da sua busca:</legend>
                                                        <input type="text" name="q" value="{{ keyword|default:"Digite a sua busca.." }}" id="busca-keyword" class="input" />
                                                        <input type="submit" value="" class="button" />
                                                </fieldset>
                                        </form><!-- /Formulário -->
                                        
                                        <!-- Banner do site -->
                                        <ul id="site-banner">
                                                <li>{% if "swf" not in banner.url %}<img src="{{ banner.url }}" alt="{{ banner.descricao }}" />{% else %}<div id="swf-banner"></div>{% endif %}</li>
                                        </ul><!-- /Banner do site -->
                                </div><!-- /site-header -->
                                
                                <!-- site-content -->
                                <div id="site-content">
                                        {% block content %}{% endblock %}
                                </div><!-- /site-content -->
                        </div><!-- /semanadoicb-wrap -->
                        
                        <!-- site-footer -->
                        <div id="site-footer">
                                <!-- site-wrap -->
                                <div class="site-wrap">
                                        <!-- Menu inferior do site -->
                                        <ul id="site-menu-inferior" class="site-menu">
                                                <!-- Esquerda -->
                                                <li><a class="menu-pagina-inicial" href="/" title="Ir para a página inicial">Página Inicial</a></li>
                                                <li><a class="menu-quem-somos" href="/quem-somos/" title="Quem Somos">Quem Somos</a></li>
                                                <li><a class="menu-noticias" href="/noticias/" title="Notícias">Notícias</a></li>
                                                {% if configuracoes.exibe_produtos == "True" %}<li><a class="menu-produtos" href="/produtos/" title="Produtos">Produtos</a></li>{% endif %}
                                                {% if configuracoes.exibe_servicos == "True" %}<li><a class="menu-servicos" href="/servicos/" title="Serviços">Serviços</a></li>{% endif %}
                                                {% if configuracoes.exibe_clientes == "True" %}<li><a class="menu-clientes" href="/clientes/" title="Clientes">Clientes</a></li>{% endif %}
                                                {% if configuracoes.exibe_suporte == "True" %}<li><a class="menu-suporte" href="/suporte/" title="Suporte">Suporte</a></li>{% endif %}
                                                <li><a class="menu-contato" href="/contato/" title="Contato">Contato</a></li>

                                                <!-- Direita -->
                                                <li class="menu-inferior-direita ultimo"><a class="menu-area-restrita" href="/admin/" title="Área Restrita">Área Restrita</a></li>
                                                <li class="menu-inferior-direita"><a class="menu-web-mail" href="http://webmail.webfaction.com/" title="Webmail">Webmail</a></li>
                                        </ul><!-- /Menu inferior do site -->

                                        <!-- Logomarca e Endereço -->
                                        <div id="site-logo-telefone-endereco">
                                                <!-- Logo Rodapé -->
                                                <a href="/" title="{{ configuracoes.nome_da_empresa }}">
                                                        <img src="{{ configuracoes.logomarca_pequena }}" alt="{{ configuracoes.nome_da_empresa }}" />
                                                </a>
                                                <!-- Telefone e Endereço -->
                                                <span class="site-telefone">{{ configuracoes.telefone }}</span>
                                                <span class="site-endereco">{{ configuracoes.endereco_logradouro }}</span>
                                                <span class="site-cidade-estado">{{ configuracoes.cidade }} - {{ configuracoes.estado }}</span>
                                        </div><!-- /Logomarca e Endereço -->

                                        <!-- Mídias Sociais -->
                                        <div id="site-midias-sociais">
                                                <div id="site-midias-sociais-esquerda"></div>
                                                <div id="site-midias-sociais-meio">
                                                        <h3>Encontre-nos em:</h3>
                                                        <ul>
                                                                {% if configuracoes.twitter %}<li><a class="midia-social-twitter" rel="blank" href="{{ configuracoes.twitter }}" title="Twitter"><img src="/media/images/media-icons/twitter.png" alt="Twitter"/></a></li>{% endif %}
                                                                {% if configuracoes.orkut %}<li><a class="midia-social-orkut" rel="blank" href="{{ configuracoes.orkut }}" title="Orkut"><img src="/media/images/media-icons/orkut.png" alt="Orkut"/></a></li>{% endif %}
                                                                {% if configuracoes.facebook %}<li><a class="midia-social-facebook" rel="blank" href="{{ configuracoes.facebook }}" title="Facebook"><img src="/media/images/media-icons/facebook.png" alt="Facebook"/></a></li>{% endif %}
                                                                {% if configuracoes.youtube %}<li><a class="midia-social-youtube" rel="blank" href="{{ configuracoes.youtube }}" title="Youtube"><img src="/media/images/media-icons/youtube.png" alt="Youtube"/></a></li>{% endif %}
                                                                {% if configuracoes.flickr %}<li><a class="midia-social-flickr" rel="blank" href="{{ configuracoes.flickr }}" title="Flickr"><img src="/media/images/media-icons/flickr.png" alt="Flickr"/></a></li>{% endif %}
                                                                {% if configuracoes.linkedin %}<li><a class="midia-social-linkedin" rel="blank" href="{{ configuracoes.linkedin }}" title="LinkedIn"><img src="/media/images/media-icons/linkedin.png" alt="LinkedIn"/></a></li>{% endif %}
                                                                {% if configuracoes.delicious %}<li><a class="midia-social-delicious" rel="blank" href="{{ configuracoes.delicious }}" title="Del.icio.us"><img src="/media/images/media-icons/delicious.png" alt="Del.icio.us"/></a></li>{% endif %}
                                                                {% if configuracoes.digg %}<li><a class="midia-social-digg" rel="blank" href="{{ configuracoes.digg }}" title="Digg"><img src="/media/images/media-icons/digg.png" alt="Digg"/></a></li>{% endif %}
                                                                {% if configuracoes.myspace %}<li><a class="midia-social-myspace" rel="blank" href="{{ configuracoes.myspace }}" title="MySpace"><img src="/media/images/media-icons/myspace.png" alt="MySpace"/></a></li>{% endif %}
                                                                {% if configuracoes.formspring %}<li><a class="midia-social-formspring" rel="blank" href="{{ configuracoes.formspring }}" title="formspring"><img src="/media/images/media-icons/formspring.png" alt="Formspring"/></a></li>{% endif %}
                                                                {% if configuracoes.blog %}<li><a class="midia-social-blog" rel="blank" href="{{ configuracoes.blog }}" title="Blog"><img src="/media/images/media-icons/blog.png" alt="Blog"/></a></li>{% endif %}
                                                        </ul>
                                                </div>
                                                <div id="site-midias-sociais-direita"></div>
                                        </div>

                                        <!-- Diretos autorais -->
                                        <span id="site-direitos-autorais">
                                                <strong>{{ configuracoes.nome_da_empresa }}</strong> Todos os direitos reservados - Copyright © {% now "Y" %}
                                        </span><!-- /Direitos Autorais -->

                                        <!-- Créditos -->
                                        <a href="http://www.cinaglia.com" title="powered by cinaglia.com" id="site-creditos">
                                                powered by <strong>cinaglia.com</strong>
                                        </a><!-- /Créditos -->
                                </div><!-- /site-wrap -->
                        </div><!-- /site-footer -->
                </div><!-- /site-container -->
                
                <!-- Google Analytics -->{{ configuracoes.google_analytics|safe }}<!-- /Google Analytics -->
        </body>
</html>
