{% extends "base.html" %}
{% block name %}clientes{% endblock %}
{% block clientes %} class="active"{% endblock %}
{% block content_class %}page-clientes{% endblock %}
{% block title %}Clientes | {% endblock %}
{% load project_tags %}

{% block content %}

<div id="lado_direito">
    
    <h3 style="background-color: #E6E6E6; padding:5px;">Parceiros</h3> <!--titulo da pagina-->

		<div>
        
    

		  <p>Conheça alguns dos nossos parceiros e venha você também fazer parte da corretora que mais da suporte ao seu investimento.</p><br />
          
 

          <div style="clear:both; margin-bottom:1px solid #999"></div>
          
          			         <table width="100%" border="0" cellspacing="0" cellpadding="0">
  
  <tr>
    <td><div >
           <h3 style="padding-left:20px; background-color:#F5F5F5"> Presidente Prudente</h3>
          <div>
            {% if clientes %}
                <ul class="itens-lista">
                        {% for cliente in clientes %}
                        <li>
                                <a href="/clientes/{{ cliente.id }}/{{ cliente.slug }}" title="{{ cliente.descricao }}"><img src="{{ cliente.logomarca.thumbnail }}" title="{{ servico.descricao }}" /></a>
                        </li>
                        {% endfor %}
                </ul>
                <a class="seja-nosso-cliente" href="/contato/" title="Seja você também um de nossos clientes!">Seja você também um de nossos clientes!</a>
                {% else %}
                <p class="nenhum-cliente">Nenhum cliente cadastrado.</p>
                {% endif %}
          </div>
          <!--fecha parceiros-->
          </div>          </td>
  </tr>
</table>
          </div><!--texto e logos de parceiros-->
	
	  <div style="padding:10px;">
      
      
        
    </div>
    </div> <!--lado direito-->
{% endblock %}
