{% extends "base.html" %}
{# {% load thumbnail %} #}
{% block name %}home{% endblock %}
{% block home %} class="active"{% endblock %}
{% block content_class %}page-home{% endblock %}
{# {% load project_tags %} #}
{% block javascript %}{% endblock %}

{% block content %}


												 <!-- Sobre a empresa -->
                                                <div id="sobre-a-empresa">

                                                        <h2>Tor Investimentos</h2>
                                                        <hr class="horizontal-rule">
                                                        <div class="inner-img">
                                                                <img src="media/images/cambio.jpg" alt="Tor Investimentos">
                                               	 </div>
                                                        <p>A Tor Investimentos vem apresentando-se com excelência no mercado acionário. Com anos de experiência e os profissionais mais bem qualificados do ramo, a Tor Investimentos acredita em seu potencial, investe no bem estar e na segurança dos investimentos de seus cliente, com a mais alta tecnologia existente.</p>
                                                       <p>Com grande satisfação estamos em crescimento contínuo e trazendo experiências inovadoras, sendo  muito  gratificante  para  nós  atendermos  com  mais  qualidade os nossos  clientes  e  parceiros.</p>

                                                        <a href="/quem-somos/" title="Saiba mais sobre a Tor Investimentos »">Saiba mais »</a>
                                                </div><!-- /Sobre a empresa -->
								
											<hr class="horizontal-rule">
								<div id="news-e-face">
										<div id="noticias-e-newsletter">
											<div id="newsletter">
												<h2 id="newsletter-icon">Newsletter</h2>
												<span id="newsletter-txt">Recebe as nossas novidades diretamente no seu e-mail.</span>
											<!-- Formulário Newsletter -->
											<form action="/newsletter/new/" id="newsletter-form" method="post">
													<fieldset id="newsletter-fieldset">
														    <span id="form-status">Você foi cadastrado com sucesso.</span>
														    <input type="text" name="nome" value="Digite o seu nome.." id="newsletter-nome" class="input" />
														    <input type="text" name="email" value="Digite o seu e-mail.." id="newsletter-email" class="input" />
														    <input type="submit" value="Enviar" class="button" />
													</fieldset>
											</form><!-- /Formulário Newsletter -->
									</div><!-- /Newsletter -->
							</div><!-- Noticias e Newsletter -->

							</div><!--news e face-->

{% endblock %}
