{% extends "base.html" %}
{% block name %}clientes{% endblock %}
{% block clientes %} class="active"{% endblock %}
{% block content_class %}page-clientes{% endblock %}
{% block title %}Clientes | {% endblock %}
{% load project_tags %}

{% block content %}

<div id="lado_direito">
    
    <h3 style="background-color: #E6E6E6; padding:5px;">Parceiros</h3> <!--titulo da pagina-->

		<div>
        
    

		  <p>Conheça alguns dos nossos parceiros e venha você também fazer parte da corretora que mais da suporte ao seu investimento.</p><br />
          
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    <div >
           <h3 style="padding-left:20px; background-color: #F5F5F5">  Londrina</h3>




           <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','695','height','200','src','flash/parceiros-londrina','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','flash/parceiros-londrina' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="695" height="200">
             <param name="movie" value="flash/parceiros-londrina.swf" />
             <param name="quality" value="high" />
             <embed src="flash/parceiros-londrina.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="695" height="200"></embed>
           </object>
    </noscript></div>          </td>
  </tr>
  <tr>
    <td><div >
           <h3 style="padding-left:20px; background-color:#F5F5F5"> Presidente Prudente</h3>
          <div>
            <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','695','height','750','src','flash/parceiros-prudente','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','flash/parceiros-prudente' ); //end AC code
            </script>
            <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="695" height="750">
              <param name="movie" value="flash/parceiros-prudente.swf" />
              <param name="quality" value="high" />
              <embed src="flash/parceiros-prudente.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="695" height="750"></embed>
            </object>
            </noscript>
          </div>
          <!--fecha parceiros-->
          </div>          </td>
  </tr>
</table>

          <div style="clear:both; margin-bottom:1px solid #999"></div>
          
          
      </div><!--texto e logos de parceiros-->

	  <div style="padding:10px;">
      
      
        
    </div>
    </div> <!--lado direito-->
{% endblock %}
