{% extends "base.html" %}
{% block name %}produtos{% endblock %}
{% block produtos %} class="active"{% endblock %}
{% block content_class %}page-produtos{% endblock %}
{% block title %}Produtos | {{ categoria.nome }} | {% endblock %}
{% load project_tags %}

{% block content %}
<!-- Produtos -->
<div id="produtos" class="pagina-lista">
        
        <!-- Categorias-->
        <div id="categorias">
                <h2>Categorias</h2>
                <ul id="categorias-list">
                        <li{% if categoria.nome == "Todos" %} class="selected"{% endif %}><a href="/produtos/"><strong>Todos os Produtos</strong></a></li>
                        {% for categoria_for in categorias %}
                        <li{% if categoria_for.id == categoria.id %} class="selected"{% endif %}>
                                {% if categoria_for.sub_categorias %}
                                <span class="categoria-nome">{{ categoria_for.nome }}</a>
                                <ul class="subcategorias-list">
                                        {% for sub_categoria in categoria_for.sub_categorias %}
                                        <li{% if sub_categoria.id == categoria.id %} class="selected"{% endif %}>
                                                <a href="/produtos/categorias/{{ sub_categoria.id }}/{{ sub_categoria.slug }}" title="{{ sub_categoria.descricao }}">{{ sub_categoria.nome }}</a>
                                        </li>
                                        {% endfor %}
                                </ul>
                                {% else %}
                                <a href="/produtos/categorias/{{ categoria_for.id }}/{{ categoria_for.slug }}" title="{{ categoria_for.descricao }}" class="categoria-nome">{{ categoria_for.nome }}</a>
                                {% endif %}
                        </li>
                        {% endfor %}
                </ul>
        </div><!-- /Categorias -->
        
        <!-- Produtos -->
        <div id="lista-de-itens">
                <h2 class="item-titulo">
                        <span class="titulo-prev">Produtos</span>
                        <span class="titulo-arrow">»</span>
                        <span class="titulo-categoria">{{ categoria.nome }}</a>
                </h2>
                {% if produtos.object_list %}
                <ul class="itens-lista">
                        {% for produto in produtos.object_list %}
                        <li>
                                <a class="item-imagem" href="/produtos/{{ produto.id }}/{{ produto.slug }}" title="{{ produto.nome }}">
                                        <img src="{{ produto.imagem_principal.imagem.extra_thumbnails.catalogo|default:"/media/images/imagem-temporaria.gif" }}" title="{{ produto.imagem_principal.descricao }}" />
                                </a>
                                <a class="item-nome" href="/produtos/{{ produto.id }}/{{ produto.slug }}" title="{{ produto.nome }}">{{ produto.nome }}</a>
                        </li>
                        {% endfor %}
                </ul>
                <div class="pagination">
                    <span class="step-links">
                        {% if produtos.has_previous %}
                            <a href="?page={{ produtos.previous_page_number }}" class="pagination-left">&laquo; Anterior</a>
                        {% endif %}

                        <span class="current">
                            Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}
                        </span>

                        {% if produtos.has_next %}
                            <a href="?page={{ produtos.next_page_number }}" class="pagination-right">Próxima &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <p class="nenhum-item">Nenhum produto cadastrado.</p>
                {% endif %}
        </div><!-- /Produtos -->
        
</div><!-- /Produtos -->

{% endblock %}