{% extends "base.html" %}
{% block name %}home{% endblock %}
{% block quem_somos %} class="active"{% endblock %}
{% block content_class %}page-home{% endblock %}
{% block css %}
                <link rel="stylesheet" type="text/css" href="/media/colorbox/css/colorbox.css" media="screen" />
{% endblock %}
{% block javascript %}
                <script type="text/javascript" src="/media/colorbox/js/jquery.colorbox-min.js"></script>
                <script type="text/javascript" charset="utf-8">
                        $(document).ready(function(){
                                $("a[rel='imagem-quem-somos']").colorbox({current:"Imagem {current} de {total}"});
                                $("a#exibe-video").colorbox({width:"500px", height:"500px", iframe:true, title:'Quem Somos'});
                        });
                </script>
{% endblock %}
{% block title %}Quem Somos | {% endblock %}
{% load project_tags %}

{% block content %}
<!-- Quem Somos -->
<div id="quem-somos">
        <!-- Conteudo Editavel -->
        <div id="conteudo-editavel">	
                <h2>Quem Somos</h2>
                
                
                {{ quem_somos.conteudo|safe|blockquote|safe }}
        </div><!-- /Conteudo Editavel -->
        
        {% if quem_somos.imagens.all or quem_somos.video %}
        <!-- Galerias Diversas -->
        <div id="galerias-diversas">
                {% if quem_somos.imagens.all %}
                <!-- Galeria de Imagens -->
                <div id="galeria-imagens">
                        <h3>{{ quem_somos.titulo_galeria|default:"Galeria de Imagens" }}</h3>
                        <ul>
                                {% for imagem in quem_somos.imagens.all %}
                                <li><a href="{{ imagem.imagem.extra_thumbnails.big }}" title="{{ imagem.descricao }}" rel="imagem-quem-somos"><img src="{{ imagem.imagem.extra_thumbnails.quem_somos_small }}" alt="{{ imagem.descricao }}"/></a></li>
                                {% endfor %}
                        </ul>
                </div><!-- /Galeria de Imagens -->
                {% endif %}
                {% if quem_somos.video %}
                <!-- Galeria de Videos -->
                <div id="galeria-videos">
                        <h3>Para saber mais, assista:</h3>
                        <ul>
                                <li>
                                        <a href="http://www.youtube.com/embed/{{ quem_somos.video|extract_youtube_key }}" title="Clique na imagem para assistir o vídeo" id="exibe-video" rel="blank">
                                                <span></span>
                                                <img src="http://img.youtube.com/vi/{{ quem_somos.video|extract_youtube_key }}/2.jpg" alt="Clique na imagem para assistir o vídeo" />
                                        </a>
                                </li>
                        </ul>
                </div><!-- /Galeria de Videos -->
                {% endif %}
        </div><!-- Galerias Diversas -->
        {% endif %}
</div><!-- /Quem Somos -->
{% endblock %}
