{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_modify adminmedia grp_tags %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    <link rel="stylesheet" media="screen" type="text/css" href="../../../media/colorpicker/css/colorpicker.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type="text/javascript" src="../../../media/colorpicker/js/colorpicker.js"></script>
    <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('#colorSelector').ColorPicker({
                	color: '{{ form.cor_layout.data }}',
                	onShow: function (colpkr) {
                		$(colpkr).fadeIn(500);
                		return false;
                	},
                	onHide: function (colpkr) {
                		$(colpkr).fadeOut(500);
                		return false;
                	},
                	onChange: function (hsb, hex, rgb) {
                		$('#colorSelector div').css('backgroundColor', '#' + hex);
                		$('#id_cor_layout').val('#' + hex);
                	}
                });
                $('#colorSelector div').css('backgroundColor', '{{ form.cor_layout.data }}');
            });
    </script>
    {{ media }}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block content-class %}content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
             <a href="../">{% trans "Home" %}</a> &rsaquo;
             <a href="../">Configurações do Site</a> &rsaquo;
             Modificar "Configurações Gerais"
        </div>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="container-flexible">
        <div class="form-container">
            <form enctype="multipart/form-data" action="" method="post" id="configuracoes_form">{% csrf_token %}
                <div>
                        <!-- Errors -->
                        {% if errors %}
                            <p class="errornote">{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                            <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        
                        <fieldset class="module">
                                <div class="row cells-1 nome_da_empresa {% if errors.nome_da_empresa %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_nome_da_empresa" class="required">Nome da Empresa:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.nome_da_empresa }}{{ errors.nome_da_empresa }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 titulo_do_site {% if errors.titulo_do_site %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_titulo_do_site" class="required">Título do Site:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.titulo_do_site }}{{ errors.titulo_do_site }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 logomarca {% if errors.logomarca %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_logomarca" class="required">Logomarca:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {% if logomarca %}
                                                        Logomarca atual: 
                                                        <a target="_blank" href="{{ logomarca }}">{{ logomarca }}</a><br />
                                                        <span class="modificar">Modificar:</span> {% endif %}
                                                        {{ form.logomarca }}{{ errors.logomarca }}
                                                        <p class="help">
                                                                <strong>Dimensões aceitas:</strong> Largura <strong> &lt;= 310px</strong>, Altura <strong>= 95px</strong>.<br />
                                                                * Use fundo branco na logomarca preferencialmente.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        <fieldset class="module">
                                <div class="row cells-1 endereco {% if errors.endereco_logradouro %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_endereco_logradouro" class="required">Endereço:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.endereco_logradouro }}{{ errors.endereco_logradouro }}
                                                        <p class="help">
                                                                (<strong>Ex:</strong> R. Manoel Goulart, 839)
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 cidade {% if errors.cidade %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_cidade" class="required">Cidade:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.cidade }}{{ errors.cidade }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 estado {% if errors.estado %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_estado" class="required">Estado:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.estado }}{{ errors.estado }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 telefone {% if errors.telefone %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_telefone" class="required">Telefone:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.telefone }}{{ errors.telefone }}
                                                        <p class="help">
                                                                (<strong>Ex:</strong> (11) 3123-1234)
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                
                                <div class="row cells-1 email_contato {% if errors.email_contato %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_email_contato" class="required">E-mail para Contato:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.email_contato }}{{ errors.email_contato }}
                                                        <p class="help">
                                                                Este e-mail será utilizado para o recebimento de e-mails pelo <strong>Formulário de Contato</strong>.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                
                                <div class="row cells-1 cor_layout {% if errors.cor_layout %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_cor_layout" class="required">Cor do Layout:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        <div id="colorSelector"><div></div></div>
                                                        {{ form.cor_layout }}{{ errors.cor_layout }}
                                                        <p class="help">
                                                                Escolha a cor principal do site.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        
                        <fieldset class="module">
                                <div class="row cells-1 principal">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_twitter_username" class="required">Marque as páginas desejadas:</label>
                                                </div>
                                                <div id="column" style="float: left">
                                                        <div class="span-flexible">
                                                                {{ form.exibe_produtos }}<label for="id_exibe_produtos" class="vCheckboxLabel">Produtos</label>{{ errors.exibe_produtos }}
                                                        </div>
                                                        <div class="span-flexible exibe_servicos_error">
                                                                {{ form.exibe_servicos }}<label for="id_exibe_servicos" class="vCheckboxLabel">Serviços</label>{{ errors.exibe_servicos }}
                                                        </div>
                                                        <div class="span-flexible">
                                                                {{ form.exibe_clientes }}<label for="id_exibe_clientes" class="vCheckboxLabel">Clientes</label>{{ errors.exibe_clientes }}
                                                        </div>
                                                        {% if user.is_superuser %}
                                                        <div class="span-flexible">
                                                                {{ form.exibe_suporte }}<label for="id_exibe_suporte" class="vCheckboxLabel">Suporte</label>{{ errors.exibe_suporte }}
                                                        </div>
                                                        {% endif %}
                                                        <p class="help">
                                                                Marque apenas as páginas que você <strong>deseja</strong> que apareça no seu site.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        
                        <fieldset class="module">
                                <div class="row cells-1 principal">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_twitter_username" class="required">Página de Contato:</label>
                                                </div>
                                                <div id="column" style="float: left">
                                                        <div class="span-flexible">
                                                                {{ form.exibe_mapa_contato }}<label for="id_exibe_mapa_contato" class="vCheckboxLabel">Exibir Mapa de Localização</label>{{ errors.exibe_mapa_contato }}
                                                        </div>
                                                        <p class="help">
                                                                Marque esta opção caso queira que um mapa seja mostrado na sua página de contato.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 google_maps {% if errors.google_maps %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_google_maps" class="required">Google Maps Key:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.google_maps }}{{ errors.google_maps }}
                                                        <p class="help">
                                                                Cole aqui a chave do <strong>Google Maps</strong> fornecido pelo Google (ela será importante para exibir o mapa na página de <strong>Contato</strong>).<br />
                                                                <a href="http://code.google.com/apis/maps/signup.html" target="_blank" class="requisitar-link" title="Gerar novo código »">Gerar novo código »</a>
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        
                        <fieldset class="module">
                                <div class="row cells-1 twitter_username {% if errors.twitter_username %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_twitter_username" class="required">Nome de Usuário no Twitter:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.twitter_username }}{{ errors.twitter_username }}
                                                        <p class="help">
                                                                (<strong>Ex:</strong> @maximize-ti)<br />
                                                                Não se esqueca de incluir o <strong>@</strong>
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        <fieldset class="module">
                                <div class="row cells-1 meta_description {% if errors.meta_description %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_meta_description" class="required">Meta Tag Description:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.meta_description }}{{ errors.meta_description }}
                                                        <p class="help">
                                                                Descreva o serviço da empresa brevemente. Esta descrição será utlizada pelo <strong>Google</strong> durante a indexação.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 meta_keywords {% if errors.meta_keywords %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_meta_keywords" class="required">Meta Tag Keywords:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.meta_keywords }}{{ errors.meta_keywords }}
                                                        <p class="help">
                                                                Liste algumas palavras <strong>separadas por vírgula</strong> que melhor descrevam o seu negócio.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        
                        <fieldset class="module">
                                <div class="row cells-1 google_analytics {% if errors.google_analytics %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_google_analytics" class="required">Google Analytics:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.google_analytics }}{{ errors.google_analytics }}
                                                        <p class="help">
                                                                Cole aqui o código de monitoramento de estatísticas fornecido pelo <strong>Google</strong>.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 google_webmaster {% if errors.meta_keywords %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <label for="id_google_webmaster" class="required">Google Webmaster Tools:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.google_webmaster }}{{ errors.google_webmaster }}
                                                        <p class="help">
                                                                Cole aqui o código do <strong>Google Webmaster Tools</strong> fornecido pelo site deles. Deixe em branco caso não possua.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        
                        <div class="module footer">
                            <ul class="submit-row">
                                <li class="submit-button-container"><input type="submit" value="Salvar" class="default" name="_save" /></li>
                            </ul><br clear="all" />
                        </div>

                        <script type="text/javascript">
                            (function($){
                                $(function(){
                                    try {
                                        
                                        $("#id_nome_da_empresa, #id_nome_da_empresa_0")
                                        .eq(0).focus();
                                    } catch(e) {}
                                });
                            }(django.jQuery));
                        </script>


                </div>
            </form>
        </div>
    </div>
{% endblock %}
