{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_modify adminmedia grp_tags %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block content-class %}content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
             <a href="../">{% trans "Home" %}</a> &rsaquo;
             <a href="../">Configurações do Site</a> &rsaquo;
             Modificar "Redes Sociais"
        </div>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="container-flexible">
        <div class="form-container">
            <form enctype="multipart/form-data" action="" method="post" id="configuracoes_form">{% csrf_token %}
                <div>
                        <!-- Errors -->
                        {% if errors %}
                            <p class="errornote">Por favor, você deve cadastrar de 3 a 6 redes sociais.</p>
                            <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div style="margin-bottom: 10px">Você deverá escolher no <strong>mínimo 3</strong> e no <strong>máximo 6</strong> redes sociais para incluir no rodapé da sua página. Lembre-se de postar a <strong>URL completa</strong> da Rede Social.</div >
                        <fieldset class="module">
                                <div class="row cells-1 twitter {% if errors.twitter %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/twitter.png" class="social-media-icon" />
                                                        <label for="id_twitter" class="required social-media-label">Twitter:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.twitter }}{{ errors.twitter }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 orkut {% if errors.orkut %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/orkut.png" class="social-media-icon" />
                                                        <label for="id_orkut" class="required social-media-label">Orkut:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.orkut }}{{ errors.orkut }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 facebook {% if errors.facebook %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/facebook.png" class="social-media-icon" />
                                                        <label for="id_facebook" class="required social-media-label">Facebook:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.facebook }}{{ errors.facebook }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 youtube {% if errors.youtube %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/youtube.png" class="social-media-icon" />
                                                        <label for="id_youtube" class="required social-media-label">Youtube:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.youtube }}{{ errors.youtube }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 flickr {% if errors.flickr %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/flickr.png" class="social-media-icon" />
                                                        <label for="id_flickr" class="required social-media-label">Flickr:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.flickr }}{{ errors.flickr }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 linkedin {% if errors.linkedin %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/linkedin.png" class="social-media-icon" />
                                                        <label for="id_linkedin" class="required social-media-label">LinkedIn:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.linkedin }}{{ errors.linkedin }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 delicious {% if errors.delicious %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/delicious.png" class="social-media-icon" />
                                                        <label for="id_delicious" class="required social-media-label">Delicious:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.delicious }}{{ errors.delicious }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 digg {% if errors.digg %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/digg.png" class="social-media-icon" />
                                                        <label for="id_digg" class="required social-media-label">Digg:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.digg }}{{ errors.digg }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 myspace {% if errors.myspace %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/myspace.png" class="social-media-icon" />
                                                        <label for="id_myspace" class="required social-media-label">MySpace:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.myspace }}{{ errors.myspace }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 formspring {% if errors.myspace %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/formspring.png" class="social-media-icon" />
                                                        <label for="id_formspring" class="required social-media-label">Formspring:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.formspring }}{{ errors.formspring }}
                                                </div>
                                        </div>
                                </div>
                                <div class="row cells-1 blog {% if errors.blog %}errors{% endif %}">
                                        <div>
                                                <div class="column span-4">
                                                        <img src="{{ MEDIA_URL }}images/media-icons/blog.png" class="social-media-icon" />
                                                        <label for="id_blog" class="required social-media-label">Blog:</label>
                                                </div>
                                                <div class="column span-flexible">
                                                        {{ form.blog }}{{ errors.blog }}
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                        
                        <div class="module footer">
                            <ul class="submit-row">
                                <li class="submit-button-container"><input type="submit" value="Salvar" class="default" name="_save" /></li>
                                <li class="submit-button-container"><input type="submit" value="Cancelar" name="_addanother"  /></li>
                            </ul><br clear="all" />
                        </div>

                        <script type="text/javascript">
                            (function($){
                                $(function(){
                                    try {
                                        
                                        $("#id_nome_da_empresa, #id_nome_da_empresa_0")
                                        .eq(0).focus();
                                    } catch(e) {}
                                });
                            }(django.jQuery));
                        </script>


                </div>
            </form>
        </div>
    </div>
{% endblock %}
